<div *ngIf="showLoad  == true" class="content">
    <span class="spinner spinner-inline spinner-lg">
        Loading...
    </span>
    <span>
        Loading...
    </span>
</div>
<div *ngIf="showLoad == false">
<div class="row" >
    <div class="col-xs-3">
        <span><button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="skipWeekends('back')" class="btn btn-primary">Previous</button></span>
    </div>
    <div class="col-xs-6" align="center">
        <span class="center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    </div>
    <div class="col-xs-3">
        <span><button  mwlCalendarNextView [view]="view"  [(viewDate)]="viewDate" (viewDateChange)="skipWeekends('forward')" class="btn btn-primary ;  next">Next</button></span>
    </div>
</div>

<mwl-calendar-month-view (beforeViewRender)="beforeMonthViewRender($event)" [(viewDate)]="viewDate" [events]="events" [excludeDays]="excludeDays" (dayClicked)="showDate($event)">
</mwl-calendar-month-view>
<div class="row flex-items-xs-right">
        <button class="btn btn-primary">Submit</button>
</div>
</div>