h2 {
    margin: 0 0 10px;
    display: inline-block;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    color: #0065AB;
    font-size: 20px;
    top: 10px;
}

.wholearea {
    width : 50%;
    height: 10%
}
.next{
    float: right;
}


.pending-abc {
    background-color: #85C81A !important;
}
.pendingLeave {
    background-color: rgb(227, 188, 8) !important;
}

.approvedLeave {
    background-color: #007cbb !important;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  