<div class="main-container">
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav>
          <a clrVerticalNavLink routerLink="./leaveCalendar" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="home"></clr-icon>
              Leave Calendar
          </a>
          <a clrVerticalNavLink routerLink="./leaveHistory" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="users"></clr-icon>
              Leave History
          </a>
      </clr-vertical-nav>
  </div>
</div>