<div *ngIf="showLoad  == true" class="content">
        <span class="spinner spinner-lg">
                Loading...
            </span> 
    </div>
<form class="form" [formGroup]="employeeInfoForm" (ngSubmit)="onSubmit()" [hidden]="submitted" *ngIf="showLoad  != true">
    <section class="form-block">
        <label><clr-icon shape="user" class="has-badge"></clr-icon> Add New User</label>
        <hr>
        <div>
            <div class="form-group">
                <label for="userEmail">User Email</label>
                <label for="userEmail"
                    aria-haspopup="true"
                    role="tooltip"
                    class="tooltip tooltip-validation tooltip-sm"
                    [class.invalid]="employeeInfoForm.get('userEmail').invalid
                        && (employeeInfoForm.get('userEmail').dirty ||
                        employeeInfoForm.get('userEmail').touched)">
                    <input id="userEmail" type="text"
                        formControlName="userEmail">
                    <span class="tooltip-content">
                        User Email is Required
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label for="userRole">User Role</label>
                <div class="select">
                    <select id="userRole" formControlName="empType" [(ngModel)]="selectedUserRole">
                        <option [value]="userrole" *ngFor="let userrole of userRoles" >{{ userrole }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" *ngIf="selectedUserRole !='Admin'">
                <label for="leader">Lead</label>
                <div class="select">
                    <select id="leader" formControlName="leaderID" [(ngModel)]="selectedLead">
                        <option [value]="lead" *ngFor="let lead of leads" >{{ lead }}</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary"
            type="submit"
            [disabled]="employeeInfoForm.invalid">Add</button>
        <button class="btn btn-danger"
            type="button" (click)="resetForm()">Reset</button>
    </section>
</form>